.App {
  text-align: center;
}

.Content {
  background-color: #242525;

  /* background-image: repeating-linear-gradient(
      transparent,
      transparent 50px,
      rgba(0, 0, 0, 0.4) 50px,
      rgba(0, 0, 0, 0.4) 53px,
      transparent 53px,
      transparent 63px,
      rgba(0, 0, 0, 0.4) 63px,
      rgba(0, 0, 0, 0.4) 66px,
      transparent 66px,
      transparent 116px,
      rgba(0, 0, 0, 0.5) 116px,
      rgba(0, 0, 0, 0.5) 166px,
      rgba(255, 255, 255, 0.2) 166px,
      rgba(255, 255, 255, 0.2) 169px,
      rgba(0, 0, 0, 0.5) 169px,
      rgba(0, 0, 0, 0.5) 179px,
      rgba(255, 255, 255, 0.2) 179px,
      rgba(255, 255, 255, 0.2) 182px,
      rgba(0, 0, 0, 0.5) 182px,
      rgba(0, 0, 0, 0.5) 232px,
      transparent 232px
    ),
    repeating-linear-gradient(
      270deg,
      transparent,
      transparent 50px,
      rgba(0, 0, 0, 0.4) 50px,
      rgba(0, 0, 0, 0.4) 53px,
      transparent 53px,
      transparent 63px,
      rgba(0, 0, 0, 0.4) 63px,
      rgba(0, 0, 0, 0.4) 66px,
      transparent 66px,
      transparent 116px,
      rgba(0, 0, 0, 0.5) 116px,
      rgba(0, 0, 0, 0.5) 166px,
      rgba(255, 255, 255, 0.2) 166px,
      rgba(255, 255, 255, 0.2) 169px,
      rgba(0, 0, 0, 0.5) 169px,
      rgba(0, 0, 0, 0.5) 179px,
      rgba(255, 255, 255, 0.2) 179px,
      rgba(255, 255, 255, 0.2) 182px,
      rgba(0, 0, 0, 0.5) 182px,
      rgba(0, 0, 0, 0.5) 232px,
      transparent 232px
    ),
    repeating-linear-gradient(
      125deg,
      transparent,
      transparent 2px,
      rgba(0, 0, 0, 0.2) 2px,
      rgba(0, 0, 0, 0.2) 3px,
      transparent 3px,
      transparent 5px,
      rgba(0, 0, 0, 0.2) 5px
    ),
    linear-gradient(
      to top,
      #4fb576 0%,
      #44c489 30%,
      #28a9ae 46%,
      #28a2b7 59%,
      #4c7788 71%,
      #6c4f63 86%,
      #432c39 100%
    ); */

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2.7vmin);
  color: gray;
}

.trivia-holder {
  /* background-color: rgba(0, 0, 0, 0.9);
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent 7%,
      #abced4 7%,
      #abced4 calc(7% + 2px),
      transparent calc(7% + 2px)
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em; */

  background-color: #242525;

  padding-left: 8.5%;
  padding-right: 3vw;
  padding-top: 0.8em;
  padding-bottom: 0.8em;

  border-radius: 5px;

  width: 75%;
}

.trivia-text {
  text-align: start;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-holder {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

.type-text {
  color: #848f8a;
}

.category-text {
  color: #76807b;
  font-size: calc(10px + 1.1vmin);
  font-style: italic;
  padding-bottom: 0.5em;
}

.difficulty-text {
  font-size: calc(10px + 1.1vmin);
}

.easy {
  color: #00ad00;
}

.medium {
  color: rgb(255, 166, 0);
}

.hard {
  color: rgb(231, 0, 0);
}

.category-item {
  font-size: 1.1rem;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border: #d7dad8 1px solid;
}

.category-item:hover {
  background-color: rgba(1, 183, 255, 0.2);
}

.question-text {
  /* color: black; */
}

.choice {
  cursor: pointer;
}

.answer-text:hover {
  background-color: rgba(1, 183, 255, 0.2);
}

.corrected-answer-text {
  font-weight: 500;
  color: #00ad00;
}

.correct-answer-text {
  font-weight: 500;
  color: #00ad00;
  background-color: #1fff0133;
}

.wrong-answer-text {
  font-weight: 500;
  color: #e62807;
  background-color: #e6280752;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

li {
  padding-bottom: 3vh;
}
/* 
button {
  background-color: #0ae6e631;
  border: #434b47 2px solid;
  outline: none;
  color: #434b47;
  font-size: calc(10px + 2vmin);
  padding: 12px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 300ms;
} */

/* button:hover {
  background-color: #0ae6e673;
  transition: background-color 300ms;
} */

.menu-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}
.divider {
  margin: 1rem 0;
}
