.App {
  text-align: center;
}

.Content {
  background-color: #242525;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2.7vmin);
  color: gray;
}

/* .trivia-holder {
  background-color: #242525;

  padding-left: 8.5%;
  padding-right: 3vw;
  padding-top: 0.8em;
  padding-bottom: 0.8em;

  border-radius: 5px;

  width: 75%;
} */

.trivia-text {
  text-align: start;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-holder {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

.type-text {
  color: #848f8a;
}

.category-text {
  color: #76807b;
  font-size: calc(10px + 1.1vmin);
  font-style: italic;
  padding-bottom: 0.5em;
}

.difficulty-text {
  font-size: calc(10px + 1.1vmin);
}

.easy {
  color: #00ad00;
}

.medium {
  color: rgb(255, 166, 0);
}

.hard {
  color: rgb(231, 0, 0);
}

.category-item {
  font-size: 1.1rem;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.category-item:hover {
  background-color: rgba(1, 183, 255, 0.2);
}

.choice {
  cursor: pointer;
}

.answer-text:hover {
  background-color: rgba(1, 183, 255, 0.2);
}

.corrected-answer-text {
  font-weight: 500;
  color: #00ad00;
}

.correct-answer-text {
  font-weight: 500;
  color: #00ad00;
  background-color: #1fff0133;
}

.wrong-answer-text {
  font-weight: 500;
  color: #e62807;
  background-color: #e6280752;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

li {
  padding-bottom: 3vh;
}

.menu-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}
.divider {
  margin: 1rem 0;
}
